<div class="container">
    <div class="row">
  <div class="col-sm-4">
<h2>Page Info</h2>
<p id="PageID"><strong>PageID:</strong>  </p>
<p id="PageName"><strong>Page Name:</strong>  </p>
<p id="PageAbout"><strong>About:</strong> </p>
<p id="PageFollowers"><strong>Number of Followers:</strong> </p>


  </div>
  <div class="col-sm-4">
    <h2>Page Name</h2>
  
  </div>
  <div class="col-sm-4">

  </div>
</div></div>