@{
    ViewData["Title"] = "Graph API Tests";
}

<br>
<a id="makeQueryButton" href="#" class="btn btn-default">Run Query</a>
<br><br>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Result</h3>
  </div>
  <div id="showDataBox" class="panel-body">
 
  </div>
</div>





