

<div class="row">
    <div class="col-sm-6">   <div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Data per Post</h3>
  </div>
  <div class="panel-body">
 <div id="chart_div"></div>
  </div>
</div></div>
    <div class="col-sm-6"></div>
</div>
 

    


