@{
    ViewData["Title"] = "Facebook Page Visualization";
}

<br><br>
@Html.Partial("OzetBilgi")
@Html.Partial("PostCommentsLikes")
@Html.Partial("GoogleCharts")
@Html.Partial("Posts")





<div id="showDataBox" class="panel-body"></div>
